* {
  font-family: Merriweather, Source Sans Pro, Oswald;
  font-weight: lighter;
}

header {
  background-color: black;
  float: left;
  width: 100%;
  height: 15vh; 
  border-bottom: 3px solid yellow;
  color: white;
}

nav {
  text-align: right;
}

nav a {
  color: white;
  list-style: none;
  padding-right: 25px;
  text-decoration: none;
}

article {
  background-color: red;
  clear: both;
}

aside {
  clear: both;
  height: 45vh;
  width: 100%;
}

footer {
  background-color: black;
  clear: both;
  width: 100%;
  height: 20px;
  font-family: sans-serif;
  color: white;
  padding: 15px;
}

h1 {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 36px;
}

.logo {
  color: yellow;
  font-size: 24px;
  padding: 15px;
}

.impact-font {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}

.calibri-font {
  font-family: sans-serif;
}

.tagline {
  background-color: lightgrey;
  width: 100%;
  height: 5%;
  float: left;
}

.tagline p {
  text-align: center;
  vertical-align: middle;
  font-style: italic;
  font-size: 18px;
}

#taste {
  color: grey;
  text-decoration: line-through;
}

#are {
  border-bottom: solid 2px yellow;
}

.hero {
  background-image: url("../images/coworking.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 83vh;
  float: left;
}

.hero-overlay {
  background-color: rgba(255,255,255,0.7);
  width: 300px;
  height: 400px;
  border: 1px solid black;
  margin: 40px;
  float: right;
  padding: 25px;
}

.hero-overlay p {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 2;
}

.btn p {
  border-radius: 9px;
  box-shadow: 0px 3px 0px #ada8ad;
  font-family: impact, Charcoal, sans-serif;
  font-size: 24px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.yellow-btn {
  background: yellow;
}

.callout {
  overflow: auto;
  background-color: white;
  margin: 1%;
  float: left;
  width: 28%;
  height: 80%;
  border-right: 1px solid grey;
  padding: 15px;
}

.callout p {
  font-family: sans-serif;
}

.grey-btn p {
  background-color: lightgrey;
  font-family: impact, Charcoal, sans-serif;
  border-radius: 9px;
  box-shadow: 0px 3px 0px #ada8ad;
  font-family: impact, Charcoal, sans-serif;
  font-size: 24px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.no-border {
  border-right: none;
}